{% extends "app/base.html" %}
{% load widget_tweaks %}

{% block header %}
    <a href="/">ホーム</a>
    {% if user.is_authenticated %}
        <a href="{% url 'account_logout' %}">ログアウト</a>
        <a href="{% url 'system' %}">管理画面</a>
    {% else %}
        <a href="{% url 'account_signup' %}">サインアップ</a>
        <a href="{% url 'account_login' %}">ログイン</a>
    {% endif %}
{% endblock %}

{% block content %}

<h1>ログイン</h1>
<form method="post">
    {% csrf_token %}
    <div>
        {% render_field form.login class="" placeholder="メールアドレス" %}
    </div>
    <div>
        {% render_field form.password class="" placeholder="パスワード" %}
    </div>
    <div>
        <button type="submit">ログイン</button>
    </div>
</form>

{% endblock %}
