{% extends "app/base.html" %}

{% block header %}
    <a href="/">ホーム</a>
    {% if user.is_authenticated %}
        <a href="{% url 'account_logout' %}">ログアウト</a>
        <a href="{% url 'system' %}">管理画面</a>
    {% else %}
        <a href="{% url 'account_signup' %}">サインアップ</a>
        <a href="{% url 'account_login' %}">ログイン</a>
    {% endif %}
{% endblock %}

{% block content %}

<h1>ログアウトしますか？</h1>
<form method="post">
    {% csrf_token %}
    <div>
        <button type="submit">ログアウト</button>
    </div>
</form>

{% endblock %}
