{% extends "app/base.html" %}
{% load widget_tweaks %}

{% block header %}
    <a href="/">ホーム</a>
    {% if user.is_authenticated %}
        <a href="{% url 'account_logout' %}">ログアウト</a>
        <a href="{% url 'system' %}">管理画面</a>
    {% else %}
        <a href="{% url 'account_signup' %}">サインアップ</a>
        <a href="{% url 'account_login' %}">ログイン</a>
    {% endif %}
{% endblock %}

{% block content %}

<h1>サインアップ</h1>
<form method="post">
    {% csrf_token %}
    <div>
        {% render_field form.company class="form-control" placeholder="会社名" %}
    </div>
    <div>
        {% render_field form.email class="form-control" placeholder="メールアドレス" %}
    </div>
    <div>
        {% render_field form.password1 class="form-control" placeholder="パスワード" %}
    </div>
    <div>
        {% render_field form.password2 class="form-control" placeholder="パスワード(確認)" %}
    </div>
    <div>
        <button type="submit">サインアップ</button>
    </div>
</form>

{% endblock %}